<!DOCTYPE html>
<html lang="pt-br" class="h-full bg-gray-100">
<head>
    {% include "global/partials/_head.html" %}
</head>
<body class="h-full">
    {% include "global/partials/_messages.html" %}

        <div class="flex h-full"
            x-data="{ isSidebarOpen: JSON.parse(localStorage.getItem('sidebarOpen') ?? 'false'), isMobileMenuOpen: false }"
            x-init="$watch('isSidebarOpen', (val) => localStorage.setItem('sidebarOpen', JSON.stringify(val)))"
            @keydown.escape.window="isMobileMenuOpen = false">
        
        {% if request.user.is_authenticated %}
            {% include "global/partials/_sidebar.html" %}
            <div x-show="isMobileMenuOpen" @click="isMobileMenuOpen = false" class="fixed inset-0 z-20 bg-black opacity-50 md:hidden" style="display: none;"></div>
        {% endif %}

        <div class="flex flex-col flex-1 overflow-y-auto">
            
            {% if request.user.is_authenticated %}
                {% block header %}
                    {% include "global/partials/_header.html" %}
                {% endblock header %}
            {% endif %}

            <main class="flex-grow">
                {% block content %}{% endblock content %}
            </main>

            {% if request.user.is_authenticated %}
                {% block footer %}
                    {% include "global/partials/_footer.html" %}
                {% endblock footer %}
            {% endif %}
        </div>
    </div>
</body>
</html>