{% load static %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6RDNF183F3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6RDNF183F3');
</script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script src="//unpkg.com/alpinejs" defer></script>

<script src="https://cdn.tailwindcss.com"></script>

<link rel="stylesheet" href="{% static 'global/css/style.css' %}">

<link rel="icon" type="image/png" href="{% static 'global/images/logo_gesticket.png' %}"/>
<title>Gesticket - {{ site_title }}</title>