<header class="header">
    <h1 class="header-heading">
        <a href="{% url 'ticket:index' %}" class="header-link">
            Helpdesk
        </a>
    </h1>

    <nav class="menu">
        <ul class="menu-list">

            {% if request.user.is_authenticated %}
            <li class="menu-item">
                <a href="{% url "ticket:create" %}" class="menu-link">
                    Create
                </a>
            </li>
            <li class="menu-item">
                <a href="{% url "ticket:user_update" %}" class="menu-link">
                    Profile
                </a>
            </li>
            <li class="menu-item">
                <a href="{% url "ticket:logout" %}" class="menu-link">
                    Logout
                </a>
            </li>
            {% else %}
            <li class="menu-item">
                <a href="{% url "ticket:user_update" %}" class="menu-link">
                    Login
                </a>
            </li>
            <li class="menu-item">
                <a href="{% url "ticket:register" %}" class="menu-link">
                    Register
                </a>
            </li>
            {% endif %}

        </ul>
    </nav>

    <div class="search">
        <form action="{% url 'ticket:search' %}" method="GET">
            <input type="search" placeholder="Search..." class="search-input" id="search" name="q" value="{{ request.GET.q.strip }}">
        </form>
    </div>

</header>