name: 'Deploy'

on:
  push:
    branches:
      - 'main'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout do Código'
        uses: actions/checkout@v4

      # Configura a Conexão SSH usando a chave privada
      - name: 'Deploy via SSH'
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: SEU_IP_ESTATICO_OU_DOMINIO 
          username: SEU_USUARIO_NA_VM     
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |

            cd /caminho/para/seu/projeto/django 
            
            git pull origin main
            
            source venv/bin/activate
            pip install -r requirements.txt
            
            python manage.py migrate --noinput
            
            python manage.py collectstatic --noinput
            
            sudo systemctl restart gunicorn 
            
            sudo systemctl restart nginx
