name: 'Deploy'

on:
  push:
    branches:
      - 'main'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout do Código'
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      - name: 'Configurar SSH no Runner'
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}

      - name: 'Enviar Código para o Servidor (Push)'
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ vars.VM_HOST }} >> ~/.ssh/known_hosts
          
          git remote add server ssh://${{ vars.VM_USER }}@${{ vars.VM_HOST }}/home/gaabrielgasperi/gesticketrepo
          
          git push server main -f

      - name: 'Deploy via SSH'
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ vars.VM_HOST }}      
          username: ${{ vars.VM_USER }}      
          key: ${{ secrets.SSH_KEY }} 
          script: |
            cd /home/gaabrielgasperi/gesticketapp 
            
            git pull gesticketrepo main
            
            export SECRET_KEY="${{ secrets.SECRET_KEY }}"
            export DB_ENGINE="${{ secrets.DB_ENGINE }}"
            export DB_NAME="${{ secrets.DB_NAME }}"
            export DB_USER="${{ secrets.DB_USER }}"
            export DB_PASSWORD="${{ secrets.DB_PASSWORD }}"
            export DB_HOST="${{ secrets.DB_HOST }}"
            export DB_PORT="${{ secrets.DB_PORT }}"

            if [ ! -d "venv" ]; then
              python3 -m venv venv
            fi

            source venv/bin/activate
            pip install -r requirements.txt
            
            python manage.py migrate --noinput
            
            python manage.py collectstatic --noinput
            
            sudo systemctl restart gesticket 
            sudo systemctl restart nginx
